@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 16px;
}

nav {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 0;
  height: 20px;
  vertical-align: middle;
}

nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  float: left;
  padding: 0px 10px;
  display: inline-block;
  padding-bottom: 15px;
}

.heart {
  padding-right: 10px;
}


header {
  background-image: url("images/city-scape.svg");
  color: white;
  background-color: rgb(32, 101, 136);
  background-size: cover;
}

header .searchbar {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  padding: 0.5% 0;
}

.logo {
  max-width: 8%;
  padding: 0 1%;
  vertical-align: top;
}

.searchbar input#search {
  width: 75%;
  height: 48px;
  background: rgb(31, 82, 111);
  border: none;
  font-size: 16px;
  color: #262626;
  padding-left: 45px;
  color: #fff;
  vertical-align: middle;
  border: solid 0.25px rgba(255, 255, 255, 0.8);
}

.search-submit {
  vertical-align: middle;
  height: 48px;
  background: rgb(31, 82, 111);
  border: solid 0.25px rgba(255, 255, 255, 0.8);
  color : #fff;
}

.signup {
  font-size: 16px;
  width: 16%;
  text-align: center;
  color : rgba(255, 255, 255, 0.8);
  text-decoration: none;
  vertical-align: middle;
  padding: 0 0.5%;
}

.bear {
  vertical-align: middle;
  padding: 0 0 0 0.5%;
}

header .container {
  width: 26%;
  position: relative;
	right: 15%;
	margin: 0 auto;
  padding: 5% 2%;
}

header button {
  border: none;
  background-color: rgb(240, 146, 51);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 2% 5%;
  border-radius: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.section-1 {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin: auto;
  padding: 3% 20%;
  background-color: rgb(39, 53, 71);
  color: rgba(255, 255, 255, 0.8);
}

.section-1 .cont1 {
  width: 25%;
  float: left;
  right: 15%;
	margin: 0 auto;
  padding: 2% 2%;
}

.section-1 .cont2 {
  width: 25%;
  float: left;
	margin: 0 auto;
  padding: 2.7% 2%;
  line-height: 200%;
}

.section-1 button {
  border: none;
  background-color: rgb(203, 56, 55);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 2% 5%;
  border-radius: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

#clear {
    clear: both;
}

.section-2 {
  background-image: url("images/forklift.svg");
  background-size: cover;
  color: white;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  padding: 7% 0 7% 20%;
}

.section-2 .cont3 {
  width: 20%;
  float: left;
  right: 15%;
	margin: 0 auto;
  padding: 2% 2%;
}

.section-2 button {
  border: none;
  background-color: rgb(49, 68, 88);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 2% 5%;
  border-radius: 30px;
  margin: 4px 2px;
  cursor: pointer;
}
.title {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin: auto;
  padding: 2% 0;
  text-align: center;
  color: rgb(83, 88, 98);
}

.title p {
  color: rgb(135, 145, 156);
}

.section-3 {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin: auto;
  padding: 0 27.5% 3% 20%;
  text-align: center;
}

.section-3 .container {
  width: 15%;
  float: left;
  right: 15%;
	margin: 0 auto;
  padding: 2% 2%;
}